<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camnter.broadcast.receiver.plugin.plugin">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver
            android:name=".FirstReceiver"
            android:exported="true"
            android:process=":firstreceiver">
            <intent-filter>
                <action android:name="com.camnter.broadcast.receiver.plugin.plugin.FirstReceiver"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".SecondReceiver"
            android:exported="true"
            android:process=":secondreceiver">
            <intent-filter>
                <action android:name="com.camnter.broadcast.receiver.plugin.plugin.SecondReceiver"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
