<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camnter.hook.ams.f.activity.plugin.host">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_camnter_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SmartApplication">

        <activity android:name=".HookAmsForActivityPluginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".StubActivity"/>

    </application>

</manifest>
